<div class="footer">
    <div class="footer-article">
        <div class="wrap-content">

            <div class=" d-flex justify-content-between flex-wrap">
                <div class="footer-1">
                    <h3 class="footer-name ">Laptop Shop</h3>
                    <div class="footer-content">
                        <ul>
                            <li><span style="color:#66ccff;"><strong>Địa chỉ</strong>:</span> 208 Nguyễn Ngọc Nhựt, Phường Tân Quý, Quận Tân Phú, TP.HCM</li>
                            <li><span style="color:#66ccff;"><strong>Hotline:</strong></span> 0908 434 432</li>
                            <li><span style="color:#66ccff;"><strong>Email:</strong></span> nguyenminhtruong@gmail.com </li>
                        </ul>
                    </div>

                    <ul class="mxh footer-mxh">
                    </ul>
                    <p class="copyright">Copyright © 2022 Laptop An Nhiên. Thiết kế bởi Nina.vn </p>
                </div>
                <div class="footer-2">

                    <h3 class="footer-tit">Thời gian làm việc</h3>
                    <div class="footer-content">
                        <p>
                            <span style="line-height:2;">
                                Thứ 2 - Thứ 7 : 8h00 - 19h00<br />
                                Chủ nhật + Lễ: Nghỉ
                            </span>
                        </p>
                    </div>

                </div>
                <div class="footer-3">
                    <h3 class="footer-tit">Chính sách</h3>
                    <ul class="footer-list">

                        <li>
                            <a href="chinh-sach-tra-hang">Chính sách trả hàng</a>
                        </li>

                        <li>
                            <a href="chinh-sach-bao-hanh">Chính sách bảo hành</a>
                        </li>

                        <li>
                            <a href="chinh-sach-mua-hang">Chính sách mua hàng</a>
                        </li>

                        <li>
                            <a href="chinh-sach-nguoi-dung">Chính sách người dùng</a>
                        </li>

                    </ul>
                </div>
                <div class="footer-4">
                    <h3 class="footer-tit">Fanpage facebook</h3>
                    <div id="fanpage-facebook"></div>
                </div>
            </div>


        </div>
