<div class="menu">
    <div class="wrap-content d-flex align-items-center">
        <div class="menu-left">
            <h2><a asp-controller="Home" asp-action="Product">Danh mục sản phẩm</a></h2>
            <ul>
                <li>
                    <a class=" transition" title="Hiệu năng - gaming" href="hieu-nang-gaming">Hiệu năng - gaming</a>
                </li>

                <li>
                    <a class=" transition" title="Doanh nhân - siêu bền" href="doanh-nhan-sieu-ben">Doanh nhân - siêu bền</a>
                </li>

                <li>
                    <a class=" transition" title="Đồ họa - kỹ thuật" href="do-hoa-ky-thuat">Đồ họa - kỹ thuật</a>
                </li>

                <li>
                    <a class=" transition" title="Văn phòng - Học tập" href="van-phong-hoc-tap">Văn phòng - Học tập</a>
                </li>
            </ul>
        </div>


        <ul class="menu-list d-flex align-items-center">
            <li><a class=" transition" asp-controller="Home" asp-action="Promotion" title="Khuyến mãi">Khuyến mãi</a></li>
            <li><a class=" transition" asp-controller="Home" asp-action="News" title="Tin tức">Tin tức</a></li>
            <li><a class=" transition" asp-controller="Home" asp-action="Policy" title="Chính sách">Chính sách</a></li>
            <li><a class=" transition" asp-controller="Home" asp-action="Introduce" title="Giới thiệu">Giới thiệu</a></li>
            <li><a class=" transition" asp-controller="Home" asp-action="Contact" title="Liên hệ">Liên hệ</a></li>
            <li><a class=" transition" asp-controller="Home" asp-action="Login" title="Đăng nhập">Đăng nhập</a></li>

        </ul>

    </div>
</div>