<div class="wrap-content padding-top-bottom">
    <form class="form-cart validation-cart" novalidate method="post" action="" enctype="multipart/form-data">
        <div class="wrap-cart">
            <div class="row">
                <div class="top-cart col-12 col-lg-7">
                    <p class="title-cart">Giỏ hàng của bạn:</p>
                    <div class="list-procart">
                        <div class="procart procart-label">
                            <div class="form-row">
                                <div class="pic-procart col-3 col-md-2">Hình ảnh</div>
                                <div class="info-procart col-6 col-md-5">Tên sản phẩm</div>
                                <div class="quantity-procart col-3 col-md-2">
                                    <p>Số lượng</p>
                                    <p>Giá</p>
                                </div>
                                <div class="price-procart col-3 col-md-3">Thành tiền</div>
                            </div>
                        </div>
                        <div class="procart procart-3644a684f98ea8fe223c713b77189a77">
                            <div class="form-row">
                                <div class="pic-procart col-3 col-md-2">
                                    <a class="text-decoration-none" href="giay-slip-on-ultraboost-21" target="_blank" title="Giày Slip On Ultraboost 21">
                                        <img src="~/assets/images/poduct-1-1758-7675.jpeg" />                                    </a>
                                    <a class="del-procart text-decoration-none">
                                        <i class="fa fa-times-circle"></i>
                                    </a>
                                </div>
                                <div class="info-procart col-6 col-md-5">
                                    <h3 class="name-procart"><a class="text-decoration-none" href="giay-slip-on-ultraboost-21" target="_blank" title="Giày Slip On Ultraboost 21">Giày Slip On Ultraboost 21</a></h3>
                                    <div class="properties-procart">
                                    </div>
                                </div>
                                <div class="quantity-procart col-3 col-md-2">
                                    <div class="price-procart price-procart-rp">
                                        <p class="price-new-cart">
                                            300.000đ
                                        </p>
                                        <p class="price-old-cart">
                                            450.000đ
                                        </p>
                                    </div>
                                    <div class="quantity-counter-procart d-flex align-items-stretch justify-content-between">
                                        <span class="counter-procart-minus counter-procart">-</span>
                                        <input type="number" class="quantity-procart" min="1" value="1" />
                                        <span class="counter-procart-plus counter-procart">+</span>
                                    </div>
                                </div>
                                <div class="price-procart col-3 col-md-3">
                                    <p class="price-new-cart ">
                                        300.000đ
                                    </p>
                                    <p class="price-old-cart">
                                        450.000đ
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="money-procart">
                        <div class="total-procart d-flex align-items-center justify-content-between">
                            <p>Tạm tính:</p>
                            <p class="total-price load-price-temp">300.000đ</p>
                        </div>
                        <div class="total-procart d-flex align-items-center justify-content-between">
                            <p>Phí vận chuyển:</p>
                            <p class="total-price load-price-ship">0đ</p>
                        </div>
                        <div class="total-procart d-flex align-items-center justify-content-between">
                            <p>Tổng tiền:</p>
                            <p class="total-price load-price-total">300.000đ</p>
                        </div>
                    </div>
                </div>
                <div class="bottom-cart col-12 col-lg-5">
                    <div class="section-cart">
                        <p class="title-cart">Hình thức thanh toán:</p>
                        <div class="information-cart">
                            <div class="payments-cart custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="payments-9" name="dataOrder[payments]" value="9" required>
                                <label class="payments-label custom-control-label" for="payments-9" data-payments="9">Thanh toán tại công ty</label>
                                <div class="payments-info payments-info-9 transition">
                                    - Quý khách hàng vui lòng thanh toán trực tiếp tại công ty ngay khi mua hàng tại
                                    <br>Showroom 1 : Số 103 - 105 Lê Thanh Nghị– Đồng Tâm - Hai Bà Trưng– Hà Nội.
                                    <br>Showroom 2 : Số 58 Hồ Tùng Mậu  – Cầu Giấy – Hà Nội.
                                    <br>- Ngay khi quý khách thanh toán xong, nhân viên kế toán sẽ gửi lại quý khách hóa đơn tài chính và nhân viên kinh doanh sẽ hướng dẫn quý khách hình thức giao nhận hàng.
                                </div>
                            </div>
                            <div class="payments-cart custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="payments-10" name="dataOrder[payments]" value="10" required>
                                <label class="payments-label custom-control-label" for="payments-10" data-payments="10">Thanh toán bằng chuyển khoản</label>
                                <div class="payments-info payments-info-10 transition">- Nếu địa điểm giao hàng là ngoại thành, ngoại tỉnh hoặc nội thành thành phố Hà Nội nhưng khác với địa điểm thanh toán (trong trường hợp Quý khách gửi quà, gửi hàng cho bạn bè, đối tác …) chúng tôi sẽ thu tiền trước 100% giá trị đơn hàng + phí vận chuyển theo cước phí tính trong chinh sách vận chuyển bằng phương thức chuyển khoản trước khi giao hàng</div>
                            </div>
                            <div class="payments-cart custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="payments-11" name="dataOrder[payments]" value="11" required>
                                <label class="payments-label custom-control-label" for="payments-11" data-payments="11">Thanh toán tại điểm giao hàng</label>
                                <div class="payments-info payments-info-11 transition">
                                    - Quý khách thanh toán cho nhân viên giao nhận toàn bộ hoặc phần còn lại của giá trị đơn hàng đã mua (nếu đã đặt cọc)
                                    <br>- Hình thức thanh toán này chỉ thực hiện với các đơn hàng có địa chỉ giao hàng tại nội thành thành phố Hà Nội (trong phạm vi bán kính 30 km tính từ nơi mua hàng).
                                    <br>- Nếu địa điểm giao hàng ngay tại nơi thanh toán, nhân viên giao hàng của chúng tôi sẽ thu tiền khi giao hàng.
                                </div>
                            </div>
                        </div>
                        <p class="title-cart">Thông tin giao hàng:</p>
                        <div class="information-cart">
                            <div class="form-row">
                                <div class="input-cart col-md-6">
                                    <input type="text" class="form-control text-sm" id="fullname" name="dataOrder[fullname]" placeholder="Họ tên" value="" required />
                                    <div class="invalid-feedback">Vui lòng nhập họ và tên</div>
                                </div>
                                <div class="input-cart col-md-6">
                                    <input type="number" class="form-control text-sm" id="phone" name="dataOrder[phone]" placeholder="Số điện thoại" value="" required />
                                    <div class="invalid-feedback">Vui lòng nhập số điện thoại</div>
                                </div>
                            </div>
                            <div class="input-cart">
                                <input type="email" class="form-control text-sm" id="email" name="dataOrder[email]" placeholder="Email" value="" required />
                                <div class="invalid-feedback">Vui lòng nhập địa chỉ email</div>
                            </div>
                            <div class="input-cart">
                                <input type="text" class="form-control text-sm" id="address" name="dataOrder[address]" placeholder="Địa chỉ" value="" required />
                                <div class="invalid-feedback">Vui lòng nhập địa chỉ</div>
                            </div>
                            <div class="input-cart">
                                <textarea class="form-control text-sm" id="requirements" name="dataOrder[requirements]" placeholder="Yêu cầu khác (không bắt buộc)" /></textarea>
                            </div>
                        </div>
                        <input type="submit" class="btn-cart btn btn-primary btn-lg btn-block" name="thanhtoan" value="Thanh toán" disabled />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div> <div class="wrap-content padding-top-bottom">
</div>