<div class="wrap-main  w-clear">
    <div class="title-main"><span></span></div>
    <div class="content-main row">
        <div class="news col-md-6">
            <div class="row">
                <a class="news-image col-sm-5" href="chinh-sach-tra-hang" title="Chính sách trả hàng">
                    <span class="scale-img">
                        <img class='lazy w-100' onerror="this.src='http://localhost:8080/laptopannhien_638622W/thumbs/160x120x1/assets/images/noimage.png';" data-src='http://localhost:8080/laptopannhien_638622W/thumbs/160x120x1/upload/news/news-1-1102-3175.jpg' alt='Chính sách trả hàng' />
                    </span>
                </a>
                <div class="news-info col-sm-7">
                    <h3 class="news-name">
                        <a class="text-decoration-none text-split transition" href="chinh-sach-tra-hang" title="Chính sách trả hàng">Chính sách trả hàng</a>
                    </h3>
                    <p class="news-time">Ngày đăng: 30/12/2020 07:23 AM</p>
                    <div class="news-desc text-split"></div>
                </div>
            </div>
        </div>
        <div class="news col-md-6">
            <div class="row">
                <a class="news-image col-sm-5" href="chinh-sach-bao-hanh" title="Chính sách bảo hành">
                    <span class="scale-img">
                        <img class='lazy w-100' onerror="this.src='http://localhost:8080/laptopannhien_638622W/thumbs/160x120x1/assets/images/noimage.png';" data-src='http://localhost:8080/laptopannhien_638622W/thumbs/160x120x1/upload/news/news-1-4178-9067.jpeg' alt='Chính sách bảo hành' />
                    </span>
                </a>
                <div class="news-info col-sm-7">
                    <h3 class="news-name">
                        <a class="text-decoration-none text-split transition" href="chinh-sach-bao-hanh" title="Chính sách bảo hành">Chính sách bảo hành</a>
                    </h3>
                    <p class="news-time">Ngày đăng: 30/12/2020 07:23 AM</p>
                    <div class="news-desc text-split"></div>
                </div>
            </div>
        </div>
        <div class="news col-md-6">
            <div class="row">
                <a class="news-image col-sm-5" href="chinh-sach-mua-hang" title="Chính sách mua hàng">
                    <span class="scale-img">
                        <img class='lazy w-100' onerror="this.src='http://localhost:8080/laptopannhien_638622W/thumbs/160x120x1/assets/images/noimage.png';" data-src='http://localhost:8080/laptopannhien_638622W/thumbs/160x120x1/upload/news/news-2-1467-6954.jpg' alt='Chính sách mua hàng' />
                    </span>
                </a>
                <div class="news-info col-sm-7">
                    <h3 class="news-name">
                        <a class="text-decoration-none text-split transition" href="chinh-sach-mua-hang" title="Chính sách mua hàng">Chính sách mua hàng</a>
                    </h3>
                    <p class="news-time">Ngày đăng: 30/12/2020 07:24 AM</p>
                    <div class="news-desc text-split"></div>
                </div>
            </div>
        </div>
        <div class="news col-md-6">
            <div class="row">
                <a class="news-image col-sm-5" href="chinh-sach-nguoi-dung" title="Chính sách người dùng">
                    <span class="scale-img">
                        <img class='lazy w-100' onerror="this.src='http://localhost:8080/laptopannhien_638622W/thumbs/160x120x1/assets/images/noimage.png';" data-src='http://localhost:8080/laptopannhien_638622W/thumbs/160x120x1/upload/news/news-3-4960-6754.jpg' alt='Chính sách người dùng' />
                    </span>
                </a>
                <div class="news-info col-sm-7">
                    <h3 class="news-name">
                        <a class="text-decoration-none text-split transition" href="chinh-sach-nguoi-dung" title="Chính sách người dùng">Chính sách người dùng</a>
                    </h3>
                    <p class="news-time">Ngày đăng: 30/12/2020 07:24 AM</p>
                    <div class="news-desc text-split"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="col-12">
            <div class="pagination-home w-100"></div>
        </div>
    </div>
</div>