<div class="wrap-main  w-clear">
    <div class="title-main"><span>Chương trình khuyến mãi đang áp dụng</span></div>
    <div class="content-main w-clear">
        <p style="text-align: center;"><span style="font-size:20px;">Hiện tại chưa có chương trình khuyến mãi nào?</span></p>

        <p style="text-align: center;"><span style="font-size:20px;"><img src="~/assets/images/1.png" class="img-1"/></span></p>
    </div>
    <div class="share">
        <b>Chia sẻ:</b>
        <div class="social-plugin w-clear">
            <div class="addthis_inline_share_toolbox_dc09"></div>
            <div class="zalo-share-button" data-href="http://localhost/laptopannhien_638622W/khuyen-mai" data-oaid="579745863508352884" data-layout="3" data-color="blue" data-customize=false></div>
        </div>
    </div>
</div>