
@model LaptopShop.Areas.Admin.Models.User

<div class="login-box">
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Đăng ký tài khoản</p>
            <form enctype="multipart/form-data" asp-controller="Home" asp-action="Register" method="post">
                <div class="input-group mb-3">
                    <div class="input-group-append login-input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                    <input type="text" asp-for="Username" class="form-control text-sm" name="username" id="username" placeholder="Tài khoản" autocomplete="off" required>

                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append login-input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <input type="password" asp-for="Password" class="form-control text-sm" name="password" id="password" placeholder="Mật khẩu" autocomplete="off" required>


                </div>
                
                <div class="input-group mb-3">
                    <div class="input-group-append login-input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <input type="password" asp-for="Password" class="form-control text-sm" name="password" id="password" placeholder="Nhập lại mật khẩu" autocomplete="off" required>
                </div>
                <button type="submit" class="btn btn-sm bg-gradient-danger btn-block btn-login text-sm p-2">
                    <div class="sk-chase d-none">
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                    </div>
                    <span>Đăng ký</span>
                </button>
                @ViewBag.error
               
                <div class="alert my-alert alert-login d-none text-center text-sm p-2 mb-0 mt-2" role="alert"></div>
            </form>
        </div>
    </div>
</div>

